.circle{
  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: black;
}

.rect{
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.small{
  height: 50px;
  width: 50px;
}

.large{
  width: 150px;
  height: 150px;
}